.filter_wrapper {
    width: 420px;
    height: 350px;
    margin-top: 20px;
    padding: 20px 48px;
    border-radius: 10px;
    background-color: rgba(31, 75, 83, 0.96);
    font-size: 18px;
}

.filter_title {
    font-weight: 500;
    font-size: 25px;
}
.select_sort{    
    appearance: none;
    margin-top: 50px;
    padding: 5px 20px;
    border: 0;
    outline: 0;
    height: 40px;

    margin-bottom: 125px;
    background-color: rgba(31, 112, 127, .3);
    background-image: url('../../assets/images/svg/arrow-down.svg'); 
    background-repeat: no-repeat;
    background-position: 99% center;
    background-size: 20px;
    border-radius: 20px;
    border: 1px solid #278D9F;
    font-size: 20px;
    cursor: pointer;
}