.range_wrapper {
    margin-top: 60px;
    touch-action: none;
}

.range_wrapper .css-1kz0hui-MuiSlider-valueLabel {
    background-color: initial;
    font-size: 18px;
    top: 0;
}

.range_wrapper .css-1gv0vcd-MuiSlider-track {
    background-color: rgb(108, 203, 223);
    height: 6px;
}
