.range_wrapper{
    margin-top: 50px;
    touch-action: none;
}

.range_wrapper .input-range__track--active {
    background: rgb(43, 193, 219) ;
    touch-action: none;
}

.range_wrapper .input-range__slider {
    border: 4px solid #3f51b5;
    background: rgb(108, 203, 223) ;
    touch-action: none;
}

.range_wrapper .input-range__track{
    height: 8px;
    touch-action: none;
}

.range_wrapper .input-range__label--min .input-range__label-container , 
.range_wrapper .input-range__label--max .input-range__label-container {
    display: none;
}
.range_wrapper .input-range__label-container{
    bottom: 5px;
    font-size: 16px;
}