.toy_page {
    padding-top: 84px;
}

.container{
    max-width: 1920px;
    padding: 0 25px;
    margin: 0 auto;
}
.filters_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.field_for_cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
