.header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    background-color: rgb(18, 28, 30);
    z-index: 10;
}

.header_left_wrapper {
    max-width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    transition: .5s;
}

.logo:hover{
    filter: invert(41%) sepia(11%) saturate(2868%) hue-rotate(141deg) brightness(112%) contrast(80%);
}

.links {
    font-weight: 500;
    width: 200px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
}
.link{
    text-decoration: none;
    transition: .5s;
}

.link:hover{
    color: #2BC1DB;
}
